.special-offers {
    padding: 30px 20px;
    text-align: center;
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    color: #333;
    transition: background-color 0.3s;
    margin-top: 32px;
  }
  
  .special-offers h1 {
    font-family: fantasy;
    margin-bottom: 20px;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 2px #008000;
  }
  
  .offers-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .offer-card {
    background: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 220px;
    border-radius: 8px;
    text-align: center;
    padding: 15px;
    transition: transform 0.3s;
    margin-top: 8px;
    margin-bottom: 5px;
  }

  .offer-card:hover {
    transform: translateY(-5px);
  }
  
  .offer-card img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
    transition: transform 0.3s;
    transform: scale(1);
    transition: box-shadow 0.3s;
    
  }
  
  .offer-card h3 {
    margin: 10px 0;
    color: #333;
  }
  
  .offer-card button {
    margin-top: 10px;
    background-color: #008000;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .offer-card button:hover {
    background-color: #094b1e;
  }

  .btn-all-product {
    background-color: white;
    color: #008000;
    border: 1px solid #008000;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
  }

  .btn-all-product:hover {
    background-color: #094b1e;
    color: white;
  }
  
  ul { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }